#container {
    display: flex;
    min-height: 1500px;
    border : 1px solid black;
  }
  
  #audrey {
    background-color: purple;
    color: snow;
    min-height: 100px;
    width: 50px;
    position: fixed;
  }